In [2]:
!pip install selenium

Requirement already satisfied: selenium in d:\program_files\anaconda\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in d:\program_files\anaconda\lib\site-packages (from selenium) (1.25.9)

In [1]:
#importing required libraries
from selenium import webdriver
import time
import pandas as pd
import numpy as np

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [4]:
driver = webdriver.Chrome(r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.naukri.com/"
driver.get(url)

#finding the search fields, filling with the required inputs
search_field = driver.find_element_by_name("keyword")
search_field.send_keys("Data Analyst")
location = driver.find_element_by_name("location")
location.send_keys("Bangalore")

#clicking the search button
search_btn = driver.find_element_by_class_name("btn")
search_btn.click()

time.sleep(20)

#getting the list of job articles
jobs = driver.find_elements_by_xpath("//article")
titles = []
locations = []
comapnies = []
experience = []

#looping through the first 10 jobs
for job in jobs[0:10]:
    titles.append(job.find_element_by_class_name("title").text.strip())
    locations.append(job.find_elements_by_class_name("ellipsis")[4].text.strip())
    comapnies.append(job.find_elements_by_class_name("ellipsis")[1].text.strip())
    experience.append(job.find_elements_by_class_name("ellipsis")[2].text.strip())

#creating the dataframe using the above info. 
jobs = pd.DataFrame()
jobs["title"] = titles
jobs["location"] = locations
jobs["comapny"] = comapnies
jobs["experience"] = experience
print(jobs)

                                             title  \
0               Associate Systems and Data Analyst
1               Consultant-Data Analyst -Bangalore
2  Data Scientist / Data Analyst -Business Analyst
3                                     Data Analyst
4   Hiring For Data Analyst @ Flipkart on Contract
5                                     Data Analyst
6                    Deputy Manager - Data Analyst
7                              Senior Data Analyst
8                Data Analyst / Business Analyst -
9                            Business Data Analyst

                                            location  \
0                                Bangalore/Bengaluru
1                                Bangalore/Bengaluru
2  Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...
3                                Bangalore/Bengaluru
4                                Bangalore/Bengaluru
5                                Bangalore/Bengaluru
6                                Bangalore/Bengaluru
7                                Bangalore/Bengaluru
8                       Chennai, Bangalore/Bengaluru
9                                Bangalore/Bengaluru

                                comapny experience
0                                Boeing    0-4 Yrs
1  Innovsource Services Private Limited    2-7 Yrs
2    Inflexion Analytix Private Limited    0-3 Yrs
3     Flipkart Internet Private Limited    1-3 Yrs
4     Flipkart Internet Private Limited    2-6 Yrs
5                IBM India Pvt. Limited    3-7 Yrs
6    Schneider Electric India Pvt. Ltd.    3-6 Yrs
7     Flipkart Internet Private Limited    2-5 Yrs
8  LatentView Analytics Private Limited    1-5 Yrs
9                  ALSTOM India Limited   5-10 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [5]:
driver = webdriver.Chrome(r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.naukri.com/"
driver.get(url)
#finding and filling search fields and click submit button
search_field = driver.find_element_by_name("keyword")
search_field.send_keys("Data Analyst")
location = driver.find_element_by_name("location")
location.send_keys("Bangalore")
search_btn = driver.find_element_by_class_name("btn")
search_btn.click()

time.sleep(10)
#finding the job div elements by xpath
jobs = driver.find_elements_by_xpath("//article")
titles = []
locations = []
companies = []
descriptions = []
job_urls = []
#looping through the first 10 job divs to get the reqd info
for job in jobs[0:10]:
    titles.append(job.find_element_by_class_name("title").text.strip())
    locations.append(job.find_elements_by_class_name("ellipsis")[4].text.strip())
    companies.append(job.find_elements_by_class_name("ellipsis")[1].text.strip())
    job_urls.append(job.find_element_by_class_name("title").get_attribute("href"))
#go tot the detail job description to fetch remaining details
for job_url in job_urls:
    driver.get(job_url)
    time.sleep(10)
    try:
        descriptions.append(driver.find_element_by_class_name("dang-inner-html").text.strip())
    except Exception as e:
        descriptions.append(driver.find_element_by_class_name("clearboth").text.strip())
        
#creating the dataframe using the above details
det_jobs = pd.DataFrame()
det_jobs["title"] = titles
det_jobs["location"] = locations
det_jobs["company"] = companies
det_jobs["description"] = descriptions
data = list(zip(titles,locations,companies,descriptions))
print(pd.DataFrame(data=data, columns=["title", "location", "company", "description"]))

                                             title  \
0               Associate Systems and Data Analyst
1               Consultant-Data Analyst -Bangalore
2  Data Scientist / Data Analyst -Business Analyst
3                                     Data Analyst
4   Hiring For Data Analyst @ Flipkart on Contract
5                                     Data Analyst
6                    Deputy Manager - Data Analyst
7                              Senior Data Analyst
8                Data Analyst / Business Analyst -
9                            Business Data Analyst

                                            location  \
0                                Bangalore/Bengaluru
1                                Bangalore/Bengaluru
2  Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...
3                                Bangalore/Bengaluru
4                                Bangalore/Bengaluru
5                                Bangalore/Bengaluru
6                                Bangalore/Bengaluru
7                                Bangalore/Bengaluru
8                       Chennai, Bangalore/Bengaluru
9                                Bangalore/Bengaluru

                                company  \
0                                Boeing
1  Innovsource Services Private Limited
2    Inflexion Analytix Private Limited
3     Flipkart Internet Private Limited
4     Flipkart Internet Private Limited
5                IBM India Pvt. Limited
6    Schneider Electric India Pvt. Ltd.
7     Flipkart Internet Private Limited
8  LatentView Analytics Private Limited
9                  ALSTOM India Limited

                                         description
0  Associate Systems and Data Analyst\nThe select...
1  Roles and Responsibilities\nCandidate must hav...
2  Job Role : Data Scientist/Data Analyst /Busine...
3  About the role:\nData Analyst is an Individual...
4  Roles and Responsibilities\nGather user requir...
5  You are a Data Analyst, who will be responsibl...
6  Job Description\nThe Person is a front-line co...
7  Job Description:\nThe candidate should have go...
8  Hi All,\n\nWe are hiring passionate Data / Bus...
9  Purpose of the role\nReporting to the Data Man...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [6]:
driver = webdriver.Chrome(r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.naukri.com/"
driver.get(url)
#fill the search field and click submit
search_field = driver.find_element_by_name("keyword")
search_field.send_keys("Data Analyst")
search_btn = driver.find_element_by_class_name("btn")
search_btn.click()

time.sleep(5)
#finding the checkboxes for checking delhi in location and 3-6 in salaries
locations = driver.find_elements_by_class_name("chckBoxCont")
for loc in locations:
    if 'delhi' in loc.text.lower():
        loc.click()
        time.sleep(5)
        break
salaries = driver.find_elements_by_class_name("chckBoxCont")
for loc in salaries:
    if '3-6' in loc.text.lower():
        loc.click()
        time.sleep(2)
        break
#finding the job div elements by xpath
jobs = driver.find_elements_by_xpath("//article")
titles = []
locations = []
comapnies = []
experience = []

#looping through the first 10 jobs
for job in jobs[0:10]:
    titles.append(job.find_element_by_class_name("title").text.strip())
    locations.append(job.find_elements_by_class_name("ellipsis")[4].text.strip())
    comapnies.append(job.find_elements_by_class_name("ellipsis")[1].text.strip())
    experience.append(job.find_elements_by_class_name("ellipsis")[2].text.strip())

#creating the dataframe using the above info.
jobs = pd.DataFrame()
jobs["title"] = titles
jobs["location"] = locations
jobs["comapny"] = comapnies
jobs["experience"] = experience
print(jobs)

                                               title  \
0    Data Scientist / Data Analyst -Business Analyst
1       Data Science Analyst-Insurance Data Sciences
2                              Business Data Analyst
3    Data & Business Analyst (Remote/Work from Home)
4  Business Analytics / Data Analyst / Fresher An...
5                                       Data Analyst
6                                       Data Analyst
7                       Data Engineer / Data Analyst
8                                       Data Analyst
9                                       Data Analyst

                                            location  \
0  Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...
1                                   Gurgaon/Gurugram
2                                   Gurgaon/Gurugram
3  Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...
4               Noida, Gurgaon/Gurugram, Delhi / NCR
5                   Bangalore/Bengaluru, Delhi / NCR
6                                        Delhi / NCR
7                                   Gurgaon/Gurugram
8                                        Delhi / NCR
9                                   Gurgaon/Gurugram

                              comapny experience
0  Inflexion Analytix Private Limited    0-3 Yrs
1                           Xceedance    0-2 Yrs
2  RBS Services India Private Limited    2-5 Yrs
3              AINE Info Tech Pvt Ltd    0-2 Yrs
4           GABA Consultancy services    0-5 Yrs
5        Bytech India Private Limited    3-4 Yrs
6                       Stanza Living    1-4 Yrs
7                         Adglobal360    2-5 Yrs
8                            Snaphunt    2-5 Yrs
9                            NTT Data    2-4 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [4]:
driver = webdriver.Firefox(executable_path = r"C:\Users\DEVASREE\Downloads\geckodriver.exe")
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)
time.sleep(3)
#logged in manually

In [6]:
#entered the information to search 
search = driver.find_element_by_id("sc.keyword")
search.clear()
search.send_keys("Data Scientist")
location = driver.find_element_by_id("sc.location")
time.sleep(5)
location.clear()
location.send_keys("Noida")
submit = driver.find_element_by_class_name("gd-ui-button")
submit.click()

In [42]:
#initialize the information list to create the dataframe
companies = []
ratings = []
days_ago = []

#find the job elements by class name
joblist = driver.find_elements_by_class_name("react-job-listing")

#looping throught the first 10 jobs
for i in joblist[0:10]:
    #appending the information to the above created lists
    try:
        companies.append(i.find_elements_by_class_name("jobLink")[1].text)
    except:
        companies.append("--")
    try:
        ratings.append(i.find_element_by_class_name("css-19pjha7").text)
    except:
        ratings.append("--")
    try:
        days_ago.append(i.find_element_by_xpath("//div[@data-test='job-age']").text)
    except:
        days_ago.append("--")

time.sleep(5)        
 # creating the dataframe
jobs = pd.DataFrame({"Company":companies,"Ratings":ratings,"Days_ago":days_ago})
jobs

                            Company Ratings Days_ago
0                            Amploy      --      24h
1  Mogli Labs India Private Limited     4.0      24h
2                             Crowe     3.8      24h
3                          Ericsson     4.1      24h
4                          Techlive      --      24h
5                    Biz2Credit Inc     3.6      24h
6                       LetsDressUp      --      24h
7                             Jubna      --      24h
8   ANI Calls India Private Limited      --      24h
9                   SearchUrCollege      --      24h

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [43]:
driver = webdriver.Firefox(executable_path = r"C:\Users\DEVASREE\Downloads\geckodriver.exe")
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)
time.sleep(3)
#logged in manually

In [71]:
#redirect to the salary section
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")
#finding the search element, fill and click the search button
search = driver.find_element_by_id("KeywordSearch")
search.clear()
search.send_keys("Data Scientist")
location = driver.find_element_by_id("LocationSearch")
time.sleep(5)
location.clear()
location.send_keys("Noida")
submit = driver.find_element_by_id("HeroSearchButton")
submit.click()
time.sleep(8)
#finding the div elements which contains individual job info
job_divs = driver.find_elements_by_xpath("//div[@data-test='salary-list-items']")
#initialize the information list to create the dataframe
min_salary = []
max_salary = []
company_name = []
avg_salary = []
rating = []
#looping through the first 10 salaries
for job in job_divs[0:10]:
    #appending the information to the above created lists
    try:
        salary = job.find_element_by_class_name("common__RangeBarStyle__values").find_elements_by_tag_name("span")
        min_salary.append(salary[0].text)
        max_salary.append(salary[1].text)
    except Exception as e:
        min_salary.append("--")
        max_salary.append("--")
    try:
        company_name.append(job.find_element_by_class_name("m-0").text)
    except Exception as e:
        company_name.append("--")
    try:
        avg_salary.append(job.find_element_by_class_name("d-md-flex").text.split("\n")[0])
    except Exception as e:
        avg_salary.append("--")
    try:
        rating.append(job.find_element_by_class_name("css-1uyte9r").text)
    except Exception as e:
        rating.append("--")
        
#creating dataframe
salaies = pd.DataFrame({"Company":company_name, "Min Salary":min_salary,"Max Salary":max_salary,
                        "Avg Salary":avg_salary, "No. of salaries":rating})
salaies

          Company Min Salary Max Salary   Avg Salary No. of salaries
0  Data Scientist      ₹343K    ₹1,250K   ₹ 6,14,306     17 salaries
1  Data Scientist      ₹586K    ₹2,730K   ₹ 9,00,000     15 salaries
2  Data Scientist      ₹577K    ₹2,213K  ₹ 11,46,533     14 salaries
3  Data Scientist      ₹355K    ₹1,613K   ₹ 7,38,057     14 salaries
4  Data Scientist      ₹450K   ₹11,622K  ₹ 12,39,781     14 salaries
5  Data Scientist    ₹1,069K    ₹1,520K  ₹ 13,36,142     11 salaries
6  Data Scientist      ₹502K    ₹1,465K   ₹ 8,15,192      9 salaries
7  Data Scientist      ₹202K    ₹1,809K  ₹ 11,35,221      8 salaries
8  Data Scientist      ₹575K    ₹1,520K  ₹ 11,44,243      8 salaries
9  Data Scientist    ₹1,014K    ₹2,149K  ₹ 14,13,288      8 salaries

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.

In [3]:
driver = webdriver.Chrome(executable_path = r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.flipkart.com"
driver.get(url)
time.sleep(3)

In [7]:
#put the query on the earch field and click
query = driver.find_element_by_name('q')
query.clear()
query.send_keys("sunglasses")
g = driver.find_element_by_class_name('L0Z3Pu')
g.click()

In [8]:
#initilize product info lists
brands = []
descriptions = []
prices = []
discounts = []

#looping through the first 3 pages to get 100 products
for i in range(0,3):
    time.sleep(5)
    #getting the information div by class
    divs = driver.find_elements_by_class_name('_2B099V')
    #looping through each products
    for div in divs:
        #appending info to the currsponding lists
        brands.append(div.find_element_by_class_name('_2WkVRV').text)
        descriptions.append(div.find_element_by_class_name('IRpwTa').text)
        prices.append(div.find_element_by_class_name('_30jeq3').text)
        discounts.append(div.find_element_by_class_name('_3Ay6Sb').text.strip(" off"))
    next_page = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        #go to next page
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))

#creatinf dataframe
glasses = pd.DataFrame({'Brand':brands[:100],
                'Description':descriptions[:100],
                'Price':prices[:100],
                'Discount':discounts[:100]})

In [9]:
glasses

,Brand,Description,Price,Discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28%
1,NuVew,UV Protection Aviator Sunglasses (57),₹185,76%
2,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83%
3,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85%
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77%
...,...,...,...,...
95,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,148",11%
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15%
97,Fastrack,UV Protection Wayfarer Sunglasses (57),₹559,30%
98,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹682,14%
99,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15%

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [2]:
driver = webdriver.Chrome(executable_path = r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
#go to the iphone url
driver.get(url)
time.sleep(3)

In [3]:
#click on "all reviews" to expand the page
all_reviews = driver.find_element_by_class_name("_3UAT2v")
all_reviews.click()

In [11]:
#initilize review info lists
ratings = []
review_summ = []
full_reviews = []

# looping through 10 pages to get 100 reiews(10reviews/page)
for i in range (0, 11):
    #getting the information div by class
    divs = driver.find_elements_by_class_name("_2wzgFH")
    for div in divs:
        #appending info to the lists
        ratings.append(div.find_element_by_class_name('_3LWZlK').text)
        review_summ.append(div.find_element_by_class_name('_2-N8zT').text)
        full_reviews.append(div.find_element_by_class_name('t-ZTKy').text)
    next_page = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        #go to next page
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))
#creatinf dataframe
reviews = pd.DataFrame({'Rating':ratings[:100],
                'Short Description':review_summ[:100],
                'Full review':full_reviews[:100]})
print(reviews)

   Rating    Short Description  \
0       5     Perfect product!
1       4      Worth the money
2       4            Wonderful
3       5     Perfect product!
4       4          Good choice
..    ...                  ...
95      5  Best in the market!
96      5            Must buy!
97      5            Just wow!
98      5    Worth every penny
99      5            Fabulous!

                                          Full review
0   A great device with a good battery backup that...
1   Awesome product!\nBattery: awesome\nDisplay: a...
2   I just loved the phone .... as I was waiting f...
3   Nice phone to buy with such offers its worth i...
4   One of my Fav Brand Apple and the Iphone 11 wa...
..                                                ...
95                                        Good Camera
96                                It’s really awesome
97                                  Perfect Product!!
98  Feeling awesome after getting the delivery of ...
99  It’s very good battery life and display and vi...

[100 rows x 3 columns]

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code only and not manually.

In [2]:
driver = webdriver.Chrome(executable_path = r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.flipkart.com"
#go to flipkart
driver.get(url)
time.sleep(3)

In [3]:
#enter the keyword and submit
query = driver.find_element_by_name('q')
query.clear()
query.send_keys("sneakers")
g = driver.find_element_by_class_name('L0Z3Pu')
g.click()

In [18]:
#initilize product info lists
brands = []
descriptions = []
prices = []
discounts = []

#looping through 3 pages 
for i in range(0,3):
    time.sleep(5)
    #getting the information div by class
    divs = driver.find_elements_by_class_name('_2B099V')
    for div in divs:
        #appending the info to the lists
        brands.append(div.find_element_by_class_name('_2WkVRV').text)
        descriptions.append(div.find_element_by_class_name('IRpwTa').text)
        prices.append(div.find_element_by_class_name('_30jeq3').text)
        discounts.append(div.find_element_by_xpath("//div[@class='_3Ay6Sb']").text)
    next_page = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))

#creating dataframe
sneakers = pd.DataFrame({'Brand':brands[:100],
                'Description':descriptions[:100],
                'Price':prices[:100],
                'Discount':discounts[:100]})

In [19]:
sneakers

,Brand,Description,Price,Discount
0,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
1,SPARX,Men White Sneakers Sneakers For Men,₹630,51% off
2,PUMA,Ontario IDP Sneakers For Men,"₹1,569",51% off
3,PUMA,Anzarun Cage Sneakers For Men,"₹2,239",51% off
4,SPARX,SM-273 Sneakers For Men,"₹1,000",51% off
...,...,...,...,...
95,well feet,sneaker for mens and boys Sneakers For Men,₹399,65% off
96,SHOEFLY,Combo Men Pack of 2 Loafers Shoes Sneakers For...,₹367,65% off
97,BRUTON,Combo Pack of 2 Casual Shoes Sneakers For Men,₹299,65% off
98,bluemaker,casual shoe for men Sneakers For Men,₹474,65% off
99,PUMA,Cape IDP Sneakers For Men,"₹2,029",65% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [2]:
driver = webdriver.Chrome(executable_path = r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.myntra.com/shoes"
#go to myntra shoe section
driver.get(url)
time.sleep(3)

In [11]:
#clicking the filter condition checkboxes
price_el = driver.find_element_by_class_name("price-list")
price_el.find_elements_by_tag_name("li")[1].click()
driver.find_elements_by_class_name("colour-listItem")[0].click()

In [44]:
#initilize product info lists
brands = []
descriptions = []
prices = []
#looping to get 100 products(50 products/page)
for i in range(0,2):
    time.sleep(5)
    #getting the information div by class
    divs = driver.find_elements_by_class_name('product-productMetaInfo')
    for div in divs:
        #appending info to the lists
        brands.append(div.find_element_by_class_name('product-brand').text)
        descriptions.append(div.find_element_by_class_name('product-product').text)
        prices.append(div.find_element_by_class_name("product-price").text.split(".")[1].split("Rs")[0].strip())
    next_page = driver.find_elements_by_xpath("//a[@rel='next']")
    try:
        driver.get(next_page[1].get_attribute('href'))
    except:
        driver.get(next_page[0].get_attribute('href'))

# creating dataframe
shoes = pd.DataFrame({'Brand':brands[:100],
                'Description':descriptions[:100],
                'Price':prices[:100]})
print(shoes)

       Brand                       Description Price
0   Skechers     Men VIPER COMPETITOR Training  6999
1       Geox         Men Leather Formal Derbys  8617
2       Puma       Men UltraRide Running Shoes  7199
3       Geox       Men Leather Formal Slip-Ons  8994
4      Ruosh  Men Solid Leather Formal Oxfords  9443
..       ...                               ...   ...
95  RAPAWALK    Standard Width Leather Oxfords  7500
96  RAPAWALK    Standard Width Leather Oxfords  7500
97  RAPAWALK    Standard Width Leather Oxfords  7500
98  RAPAWALK    Standard Width Leather Oxfords  7500
99  RAPAWALK        Wide Width Leather Oxfords  7500

[100 rows x 3 columns]

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [20]:
driver = webdriver.Chrome(executable_path = r"C:\Users\DEVASREE\Downloads\chromedriver.exe")
url = "https://www.amazon.in/"
#going to amazon
driver.get(url)
time.sleep(3)

In [21]:
#entering the product information and search
search_field = driver.find_element_by_id("twotabsearchtextbox")
search_field.send_keys("Laptop")
search_button = driver.find_element_by_id("nav-search-submit-button")
search_button.click()

In [22]:
#find out the filtering check boxes
filter_div = driver.find_element_by_id("filters")
filters = filter_div.find_elements_by_tag_name("li")
# search for the required checkboxes and mark as checked 
for flter in filters:
    if "i7" in flter.text:
        driver.get(flter.find_element_by_class_name("a-link-normal").get_attribute('href'))
        time.sleep(6)
        break
filter_div = driver.find_element_by_id("filters")
filters = filter_div.find_elements_by_tag_name("li")
for flter in filters:
    if "i9" in flter.text:
        driver.get(flter.find_element_by_class_name("a-link-normal").get_attribute('href'))
        time.sleep(6)
        break

In [24]:
time.sleep(5)
#finding all individual product div elements
divs = driver.find_elements_by_xpath("//div[@class='sg-row']")
#initialising product info lists
titles = []
ratings = []
price = []
#looping through the product divs(the first div is empty as per html)
for div in divs[1:]:
#     appending values to the lists
    try:
        titles.append(div.find_element_by_class_name("a-size-medium").text)
        #check title exists(the product div should contain heading)
        if bool(div.find_element_by_class_name("a-size-medium")):
            try:
                price.append(div.find_element_by_class_name("a-price-whole").text)
            except:
                price.append("--")
            try:
                ratings.append(div.find_element_by_class_name("a-icon-alt")
                               .get_attribute('innerHTML').split(" ")[0])
            except Exception as e:
                    ratings.append(np.nan)
    except Exception as e:
        continue
#creating dataframe
laptops = pd.DataFrame({'Title':titles[:10],
                'Price':price[:10],
                'Ratings':ratings[:10]})
print(laptops)

                                               Title     Price Ratings
0  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990     4.4
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999     4.4
2  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...    79,993     3.8
3  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    77,990     4.4
4  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...    77,990     4.4
5  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    88,990     4.1
6  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    86,990     3.9
7  (Renewed) Dell Latitude E6440 14 Inch Laptop (...    46,999     3.6
8  ASUS ROG Strix G15 (2020), 15.6" FHD 144Hz, In...  1,02,990     NaN
9  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...  1,01,990     4.5